<div class="container-fluid my-3">
  <h3 class="text-main text-center">How does it work?</h3>
  <p class= "text-center">The power of the peer to peer network for educational purposes.</p>
    <div class= "row justify-content-center">
      <div class= "card-how col-4">
        <h3>As a student</h3>
        <ul>
          <li>Watch videos from Mentor</li>
          <li>Read documentation created by Mentor</li>
          <li>Discuss with the community</li>
          <li>Talk with the Mentor</li>
        </ul>
        <div class="text-center mt-5">
          <i class="fa-solid fa-users fa-users fa-2xl icon-font-center  margin-on-top"></i>
        </div>
      </div>

      <div class= "card-how col-4">
        <h3>As a mentor</h3>
        <ul>
          <li>Create video and text for the students</li>
          <li>Share your lessons</li>
          <li>Discuss and confront your ideas with the community</li>
        </ul>
        <div class= "text-center mt-5">
          <i class="fa-solid fa-chalkboard-user icon-font-center mt-3"></i>
        </div>
      </div>
          <div class= "card-how col-4">
            <h3>Ai</h3>
            <ul>
              <li>Support the learning process of the student</li>
              <li>Give context to the topics</li>
              <li>Streamline the mentor's workload by implementing an automated student response system</li>
            </ul>
            <div class = "text-center">
              <i class="fa-solid fa-robot icon-font-center"></i>
            </div>
      </div>
    </div>
  </div>
</div>
