<div class="chat">
  <div class="chat-message"> Hello, I'm Mario, your personal AI based assistant.  </div>
  <div class="chat-message"> I can help you with your questions about the current lesson! </div>
  <div class="chat-message author"> Just type your question below and I'll try to answer it! </div>

</div>
<div class="input-group mb-3 border border-dark border-1">
  <input type="text" class="form-control" placeholder="I need help with" aria-describedby="basic-addon2">
  <span class="input-group-text" id="basic-addon2"><input type="submit" class="btn btn-info" value="Send"></span>
</div>
