<div class="chat">
  <div class="chat-message"> This is LearnyBravo. You can ask me any question and I'll try to guide you through your learning process! </div>

</div>
<div class="input-group mb-3 border border-dark border-1">
  <input type="text" class="form-control" placeholder="I need help with" aria-describedby="basic-addon2">
  <span class="input-group-text" id="basic-addon2"><input type="submit" class="btn btn-info" value="Send"></span>
</div>
