<h2><%= @lesson.name %></h2>
<p><%= @lesson.description %></p>
<hr>
<%= cl_video_tag(@lesson.video.key,
  :loop => true, :controls => true,
  :fallback_content => "Your browser does not support HTML5 video tags.",
  :transformation=>[
  {:height=>400, :width=>790, :crop=>"fill"}
  ])
   %>
