<h5 class="text-main mt-5 text-end"><i class="fa-solid fa-star"></i> Latest reviews</h5>
<hr>
  <% if @reviews.count.zero? %>
    <h5>No reviews yet</h5>
  <% end %>
<% @reviews.each do |review| %>
  <div class="card border-0 mt-1">
    <div class="card-body border-start border-primary border-3">
      <p class="fs-5"><%= review.description %></p>
      <% review.stars.times do %>
        <span class="fa-solid fa-star text-warning"></span>
      <% end  %> <br>
      <small>
      <%= review.user.nickname %>
      <%= review.created_at.strftime("%d/%m/%Y") %>
      </small>
    </div>
  </div>
<% end %>
