.chat-wrap {
  height: 41.7vh;
  display: flex;
  flex-direction: column;
}

.chat {
  flex-grow: 1;
  position: relative;
  background-color: rgb(36, 37, 37);
  overflow-y: scroll;
  padding: 10px;
}

.chat-message {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  max-width: 80%;
  word-wrap: break-word; /* Wrap long messages to a new line */
  align-self: flex-start; /* Align messages to the left */
}

.author {
  background-color: $info;
  color: white;
  margin: 5px;
  max-width: 80%;
  word-wrap: break-word; /* Wrap long messages to a new line */
  margin-left: auto; /* Move the element to the end of the flex container */

}

.form {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
}

.form input[type="text"] {
  flex-grow: 1; /* Allow the input box to grow and take remaining horizontal space */
  margin-right: 10px;
}

.form button[type="submit"] {
  width: 40px; /* Adjust the width of the submit button */
}
