.navbar-lewagon {
  justify-content: space-between;
  z-index:100;
  background-color: #24173F;
  border-bottom: 2px solid #781558;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.nav-link{
  color:rgb(255, 255, 255);
  text-transform: lowercase;
  margin-left:30px;
  border-bottom: 3px solid rgba(167, 7, 241, 0);
}
.nav-link:hover {
  color:rgb(236, 207, 250);
  border-bottom: 3px solid rgb(167, 7, 241);
}

.nav-link:focus {
  color:rgb(236, 207, 250);
  border-bottom: 3px solid rgb(167, 7, 241);
}

.home-links a {
  text-decoration: none;
  color:rgb(255, 255, 255);
  padding-left: 30px;
  font-size: 20px;
  font-weight:bold;

}
